.navitem{
    display: inline-block;
    vertical-align: top;
    color:#662D91;
    font-family: 'Roboto Slab', 'slab-serif';
    height: 15px;
}
.logo{
    width: 23%;
    padding: 0%;
    text-align: left;
    vertical-align: middle;
}
.nav{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0%;
    padding-right: 0%;
}
.navbar{
    margin-top: auto;
    text-align: center;
    border-style: solid;
    border-width: 3px 0px;
    border-color:#662D91;
    background-color: white;
    vertical-align: middle;
    }
.heroimg{
    height: 600px;
    width: 60%;
    padding: 25px;
    font-family: 'Catamaran', 'sans-serif'
}
footer{
    margin-top: 200px;
    color: white;
    background-color: black;
}
.button{
    font-family: 'Catamaran', 'sans-serif';
    color: white;
    background-color: #662D91;
    border: 0px;
}
.footnav{
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 20px;
}
.footnavitem{
    display: inline-block;
    vertical-align: top;
    color:white;
    font-family: 'Roboto Slab', 'slab-serif';
    height: 15px;
}